<li class="activity-checkbox">
  <input id="checkbox<%= activity.id %>" type="checkbox" name="itinerary[activity_ids][]" value="<%= activity.id %>">
  <label for="checkbox<%= activity.id %>"><%= activity.description %></label>
</li>