<h3>add a new itinerary</h3>

<form action="<%= itineraries_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>description
  <input type="text" name="itinerary[description]">
  </label>
  
  <label>time it takes
  <select name="itinerary[time_it_takes]">
    <option value="0">less than an hour</option>
    <option value="1">one to two hours</option>
    <option value="2">three to four hours</option>
    <option value="3">five to six hours</option>
    <option value="4">half a day</option>
    <option value="5">a whole day</option>
  </select>
  </label>
  
  <section class="group">
    <ul>

  <% Activity.all.each do |activity| %>
    <li class="activity-checkbox">
    <label><%= activity.description %><input type="checkbox" name="itinerary[activity_ids][]" value="<%= activity.id %>"></label></li>
  <% end %>
  </ul>
  </section>
  <input type="submit" value="go!">
</form>