<h3>add a new itinerary</h3>

<form class="new-itinerary-form" action="<%= itineraries_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>description
  <input type="text" name="itinerary[description]">
  </label>
  <br><br>
  <label>time it takes
  <select name="itinerary[time_it_takes]">
    <option value="0">less than an hour</option>
    <option value="1">one to two hours</option>
    <option value="2">three to four hours</option>
    <option value="3">five to six hours</option>
    <option value="4">half a day</option>
    <option value="5">a whole day</option>
  </select>
  </label>
  <br><br>
  <section class="group">
    
    
    
    
    <!-- <button>sort by tags</button> -->
    <!-- Activity.sort_by_tags -->

    <!-- <button id="test-button">testme</button> -->
    

    <ul>
      
      

  <% Activity.all.each do |activity| %>


      <%= render partial: "checkboxes", object: activity, as: :activity %>
      
      <!-- <li class="activity-checkbox"> -->
        <!-- <input id="checkbox<%= activity.id %>" type="checkbox" name="itinerary[activity_ids][]" value="<%#= activity.id %>"> -->
        <!-- <label for="checkbox<%#= activity.id %>"><%#= activity.description %></label> -->
      <!-- </li> -->

  <% end %>
  
  </ul>
  </section>
  <br><br>
  <input class="go-button" type="submit" value="go!">
</form>


<form>
  
</form>



<script>

// $('#test-button').on("click", function(event){
//   event.preventDefault();
//   alert('yeah boi');
//   var tempVar = 8;
//   var showActivities = "<%#= Activity.filter_by_tags([escape_javascript(tempVar)]) %>";
//   alert(showActivities);
//   if ($('li.activity-checkbox').attr('id') === '1-3-4') {
//     $('#1-3-4').css('display', 'none');
//   }
  // alert($('#1-3-4').attr('id'));
  // $('#[1, 3, 4]').css('display': 'none');
  // alert($('#[1, 3, 4]').val());
  // $('li.activity-checkbox').css({'display': 'none'});
  // alert('done');
// });
</script>


