<h2>itineraries search results</h2>
<% if @search_results.nil? || @search_results.empty? %>
  <p>no results found :(</p>

<% else %>
<ul>
  <li>
  <% @search_results.each do |result| %>
  <li class="itinerary-search-result group">
    
    <%= link_to result.description, itinerary_url(result.id), class: "itinerary-description-blob" %>
    <small class="time-blob">(<%= result.time %>)</small>
    <%= render result %>
  </li>
  <% end %>
</li>
</ul>


<% end %>