/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require select2
 *= require_tree .
 */

html, body, ul, li, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font-family: sans-serif;

}
a, h1, h2, h3, h4, h5, h6, strong, li {
  font-family: 'Maven Pro', sans-serif;
}

input[type=submit], input[type=button], a, button {
  font-size: 20px;
}

body {
  background: #242529;
  color: white;
  font-family: 'Maven Pro', sans-serif;
  font-smoothing: antialiased;
}

input[type=submit], button, input[type=button] {
  margin: 0;
  padding: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer; 
  font-family: 'Maven Pro', sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

.top-buttons {
  width: 240px;
}
.container {  
  width: 90%;
  margin: 20px auto;
  
}
.nav-buttons {
  display: block;
  float: right;
}

input[type=submit], input[type=button] {
  display: block;
  float: left;
  border-radius: 0;
  height: 120px;
  width: 120px;
  padding-bottom: 35px;
  padding-right: 35px;
  overflow: hidden;
  background: url("small-button-sprite.png") no-repeat 0 0;
  white-space: pre-wrap;
}
input[type=submit]:hover, input[type=button]:hover {
  background-position: 0 -120px;
  padding-top: 30px;
  padding-left: 32px;
}
input[type=submit]:active, input[type=button]:active {
  background-position: 0 -240px;
  padding-top: 45px;
  padding-left: 45px;
}

input[type=submit].favorite-button {
  display: block;
  font-size: 17px;
  background: url("heart-button-sprite.png") no-repeat 0 0;
  width: 150px;
  height: 150px;
  padding-bottom: 30px;
  padding-right: 30px;
  overflow: hidden;
}
input[type=submit].favorite-button:hover {
  background-position: 0 -120px;
  padding-top: 20px;
  padding-left: 20px;
  background-position: 0 -150px;
}
input[type=submit].favorite-button:active {
  background-position: 0 -300px;
  padding-top: 25px;
  padding-left: 25px;
}

input[type=submit].unfavorite-button {
  display: none;
}

.favorited input[type=submit].favorite-button {
  display: none;
}
input[type=submit].unfavorite-button {
  background: url("heart-button-sprite.png") no-repeat 0 -300px;
  font-size: 17px;
  width: 150px;
  height: 150px;
  padding-top: 35px;
  padding-left: 37px;
  overflow: hidden;
}
.favorited input[type=submit].unfavorite-button {
  display: block;
  
}
input[type=submit].unfavorite-button:hover {
  background: url("heart-button-sprite.png") no-repeat 0 -150px;
  padding-top: 25px;
  padding-left: 27px;
}


.itinerary-group {
  display: block;
}
.favorites-group .itinerary-search-result {
  border: 5px solid #85F776;
  transition: all .5s ease-in-out;
}
.favorites-group .itinerary-search-result:hover {
  background: #85BB83;
  border: 5px solid #85BB83;
  transition: all .5s ease-in-out;
}

.itinerary-description-blob a, .itinerary-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: yellow;
}
.time-blob {
  display: block;

  font-size: .7em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: lightgray;
}


.activity-checkbox {
  display: block;
  float: left;
  border: 5px solid #36D59E;
  margin: 2px;
}

.activity-title, .activity-title a {
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: #D4FF00;

}
.activity-group {
  clear: both;
  display: block;
}
.activity-blob {
  display: block;
  float: left;
  margin: 10px;
  padding: 5px;
  width: 180px;
  height: 180px;
  border: 5px solid #05275A;
  transition: all .5s ease-in-out;
  color: #B3B4AD;
}
.activity-blob > ul > li.address-line {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.itinerary-search-result {
  clear: right;
  border: 5px solid #77F7ED;
  padding: 20px;
  margin: 20px 10px;
  transition: all .5s ease-in-out;
}
.itinerary-search-result:hover {
  background: #65ACA6;
  border: 5px solid #65ACA6;
  transition: all .5s ease-in-out;
}
.itinerary-search-result a {
  display: block;
  color: yellow;
  text-align: center;
  text-transform: uppercase;
}
.itinerary-search-result .activity-blob {
  display: block;
  float: left;
  height: 70px;
  background: #242529;
  border: 5px solid purple;
  margin: 7px;
  transition: all .5s ease-in-out;
}

.itinerary-search-result .activity-blob:hover {
  border: 5px solid purple;
  background: purple;
}

.activity-blob > a > ul > li {
  text-transform: lowercase;
  letter-spacing: 0;
  text-align: left;
  color: lightgray;
}
.activity-blob > a > ul > li.address-line {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mini-activity-blob:hover {
  background: purple;
  transition: all .5s ease-in-out;
}

input[type=submit].friend-button {
  display: block;
}
input[type=submit].unfriend-button {
  display: none;
}
.friended input[type=submit].friend-button {
  display: none;
}
.friended input[type=submit].unfriend-button {
  display: block;
}
button, input[type=submit].big-button {
  display: block;
  float: left;
  border-radius: 0;
  height: 200px;
  width: 200px;
  padding-bottom: 30px;
  padding-right: 30px;
  overflow: hidden;
  background: url("square-button-sprite.png") no-repeat 0 0;
}
input[type=submit].half-big-button {
  display: block;
  float: left;
  border-radius: 0;
  height: 90px;
  width: 200px;
  padding-bottom: 25px;
  padding-right: 25px;
  overflow: hidden;
  background: url("half-button-sprite.png") no-repeat 0 0;
}
button:hover, input[type=submit].big-button:hover {
  background-position: 0 -200px;
  padding-top: 28px;
  padding-left: 25px;
}
input[type=submit].half-big-button:hover {
  background-position: 0 -90px;
  padding-top: 20px;
  padding-left: 20px;
}
button:active, input[type=submit].big-button:active {
  background-position: 0 -400px;
  padding-top: 40px;
  padding-left: 40px;
}
input[type=submit].half-big-button:active {
  background-position: 0 -180px;
  padding-top: 35px;
  padding-left: 32px;
}

.buttons_group {
  padding: 30px 0;
}

.activity-blob:hover {
  background: #222419;
  border: 5px solid #222419;
  transition: all .5s ease-in-out;
}

.back_button {
  clear: both;
  margin-bottom: 20px;
}

.go-button {
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
}
.new-activity-form {
  display: block;
  float: left;
}
.new-itinerary-form {
  display: block;
  float: left;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: block;
  padding: 10px 5px;
}
input[type="checkbox"]:checked + label {
  background: #36D59E;
  color: black;
}
input[type="checkbox"] + label:hover {
  background: #36D59E;
}

.friend-form {
  display: block;
  float: left;
}
.header-text {
  display: block;
  clear: both;
}

input[type=submit].logout-button, input[type=submit].sign-in-button {
  background: url('logout-button-sprite.png') no-repeat 0 0;
  border-radius: 0;
  height: 120px;
  width: 120px;
  padding-bottom: 30px;
  padding-right: 30px;
  overflow: hidden;
  white-space: pre-wrap;
}
input[type=submit].logout-button:hover, input[type=submit].sign-in-button:hover {
  background-position: 0 -120px;
  padding-top: 20px;
  padding-left: 22px;
}
input[type=submit].logout-button:active, input[type=submit].sign-in-button:active {
  background-position: 0 -240px;
  padding-top: 25px;
  padding-left: 25px;
}

.friend-blob, .non-friend-blob {
  color: white;
  display: block;
  float: left;
  width: 50%;
  border: 5px solid #FF8400;
  background: #FF8400;
  padding: 10px;
  margin: 10px;
  border-radius:0;
  outline:0;
  position: relative;

  overflow: hidden;
  box-shadow: 2px 0px 1px #FFF080, 
              0px 1px 1px #DB1717, 
              2px 1px 1px #FFF080,
              1px 2px 1px #DB1717,
              3px 2px 1px #FFF080,
              2px 3px 1px #DB1717,
              4px 3px 1px #FFF080,
              3px 4px 1px #DB1717,
              5px 4px 1px #FFF080,
              4px 5px 1px #DB1717,
              6px 5px 1px #FFF080,
              5px 6px 1px #DB1717,
              7px 6px 1px #FFF080,
              6px 7px 1px #DB1717,
              8px 7px 1px #FFF080,
              7px 8px 1px #DB1717,
              9px 8px 1px #FFF080,
              8px 9px 1px #DB1717,
              10px 9px 1px #FFF080,
              9px 10px 1px #DB1717,
              11px 10px 1px #FFF080,
              10px 11px 1px #DB1717,
              12px 11px 1px #FFF080
              ;
  margin-left: -3px;
  margin-top: -3px;
}
.friend-blob {
  border: 5px solid #20F04A;  
  background: #20F04A;
  box-shadow: 2px 0px 1px #A8FFBA, 
              0px 1px 1px #0F6320, 
              2px 1px 1px #A8FFBA,
              1px 2px 1px #0F6320,
              3px 2px 1px #A8FFBA,
              2px 3px 1px #0F6320,
              4px 3px 1px #A8FFBA,
              3px 4px 1px #0F6320,
              5px 4px 1px #A8FFBA,
              4px 5px 1px #0F6320,
              6px 5px 1px #A8FFBA,
              5px 6px 1px #0F6320,
              7px 6px 1px #A8FFBA,
              6px 7px 1px #0F6320,
              8px 7px 1px #A8FFBA,
              7px 8px 1px #0F6320,
              9px 8px 1px #A8FFBA,
              8px 9px 1px #0F6320,
              10px 9px 1px #A8FFBA,
              9px 10px 1px #0F6320,
              11px 10px 1px #A8FFBA,
              10px 11px 1px #0F6320,
              12px 11px 1px #A8FFBA
              ;
}
/*.friend-blob:after, .non-friend-blob:after {
  top:-3px;
  left:-3px;
  right:-2px;
  bottom:-2px
    
}*/

.friend-blob:hover, .non-friend-blob:hover {
  box-shadow: 1px 0px 1px #FFF080,
              0px 1px 1px #DB1717,
              2px 1px 1px #FFF080,
              1px 2px 1px #DB1717,
              3px 2px 1px #FFF080,
              2px 3px 1px #DB1717,
              4px 3px 1px #FFF080,
              3px 4px 1px #DB1717,
              5px 4px 1px #FFF080,
              4px 5px 1px #DB1717,
              6px 5px 1px #FFF080
              ;
  -webkit-transform:translate(6px, 6px);
  -moz-transform:translate(6px, 6px);
  -ms-transform:translate(6px, 6px);
  -o-transform:translate(6px, 6px);
  transform:translate(6px, 6px);
}

.friend-blob:hover {
  box-shadow: 1px 0px 1px #A8FFBA,
              0px 1px 1px #0F6320,
              2px 1px 1px #A8FFBA,
              1px 2px 1px #0F6320,
              3px 2px 1px #A8FFBA,
              2px 3px 1px #0F6320,
              4px 3px 1px #A8FFBA,
              3px 4px 1px #0F6320,
              5px 4px 1px #A8FFBA,
              4px 5px 1px #0F6320,
              6px 5px 1px #A8FFBA
              ;  
}

a.friend-blob, a.non-friend-blob {
}
a.friend-blob:active, a.non-friend-blob:active {
  color: yellow;
  box-shadow: 1px 0px 1px #FFF080,
              0px 1px 1px #DB1717,
              2px 1px 1px #FFF080,
              1px 2px 1px #DB1717,
              3px 2px 1px #FFF080;
  -webkit-transform:translate(9px, 9px);
  -moz-transform:translate(9px, 9px);
  -ms-transform:translate(9px, 9px);
  -o-transform:translate(9px, 9px);
  transform:translate(9px, 9px)
}
a.friend-blob:active {
  box-shadow: 1px 0px 1px #A8FFBA,
              0px 1px 1px #0F6320,
              2px 1px 1px #A8FFBA,
              1px 2px 1px #0F6320,
              3px 2px 1px #A8FFBA;
}

/*.friend-blob:active, .non-friend-blob:active {
  box-shadow: 1px 0px 1px lightgray,
              0px 1px 1px gray,
              2px 1px 1px lightgray,
              1px 2px 1px gray,
              3px 2px 1px lightgray;
  -webkit-transform:translate(9px, 9px);
  -moz-transform:translate(9px, 9px);
  -ms-transform:translate(9px, 9px);
  -o-transform:translate(9px, 9px);
  transform:translate(9px, 9px)}

}*/


.friend-blob a, .non-friend-blob a {
  color: white;
  
}
.ui-accordion {
  border: 0;
  font-family: inherit;
  font-size: inherit;
}
.ui-accordion-header {
  background: #242529;
  border: 5px solid #05275A;
  width: 200px;
  color: yellow;
  font-size: 20px;
}



.ui-accordion-content {
  background: #242529; 
  color: white;
  border: 0;
}

#users-accordion .ui-accordion-header {
  color: white;
  border: none;
  
}
#users-accordion.ui-accordion {
  float: left;
  width: 100%;
}
#users-accordion h3.people-title {
  color: yellow;
  font-size: 20px;
  border: 5px solid #05275A;
  
}

input[type=submit].search-button {
  display: block;
  float: right;
  font-size: inherit;
}
.select-box-container {
  width: 300px;
/*  display: block;*/
/*  float: left;*/
}
#select-box-neighborhood, #select-box-neighborhood-2 {
  width: 200px;
}
.inner-text li {
  color: white;
  font-size: 8px;
  text-transform: lowercase;
}

.activity-checkbox {
  margin: 10px;
  box-shadow: 1px 0px 1px #3997D4,
              0px 1px 1px #B9FF00,
              2px 1px 1px #3997D4,
              1px 2px 1px #B9FF00,
              3px 2px 1px #3997D4,
              2px 3px 1px #B9FF00,
              4px 3px 1px #3997D4,
              3px 4px 1px #B9FF00,
              5px 4px 1px #3997D4,
              4px 5px 1px #B9FF00,
              6px 5px 1px #3997D4          
              ;
}

.half-buttons-container {
  float: left;
  width: 200px;
}
input[type=button].pin-button {
  float: right;
}
.map-box {
  width: 400px;
}
.map-box a {
  font-size: 8px;
}
.inner-text li {
  font-size: 16px;
}

#columns {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    column-count: 2;
    column-gap: 15px;
    column-fill: auto;
}

.pin { 
  -moz-column-break-inside: avoid; 
  -webkit-column-break-inside: avoid; 
  column-break-inside: avoid; 
  display: inline-block; 
/*  margin: 0 2px 15px; */
/*  padding: 15px; */
  
  display: block;
  float: left;
  margin: 10px 5px;
  padding: 5px;
  min-width: 150px;
  border: 5px solid #05275A;
  transition: all .5s ease-in-out;
  color: #B3B4AD;
}

@media (min-width: 620px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

@media (min-width: 890px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

#error_explanation {
  text-transform: lowercase;
}