/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, ul, li, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font-family: sans-serif;
}
body {
  background: black;
  color: white;
}


input[type=submit], button {
  marigin: 0;
  padding: 10px;
  border-radius: 20px;
  border: none;
  
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

.top-buttons {
  width: 240px;
}
.container {  
  width: 90%;
  margin: 20px auto;
  
}
.nav-buttons {
  display: block;
  float: right;
}

input[type=submit] {
  display: block;
  float: left;
  border-radius: 0;
  height: 120px;
  width: 120px;
  padding-bottom: 35px;
  padding-right: 35px;
  overflow: hidden;
  background: url("small-button-sprite.png") no-repeat 0 0;
  white-space: pre-wrap;
}
input[type=submit]:hover {
  background-position: 0 -120px;
  padding-top: 30px;
  padding-left: 32px;
}
input[type=submit]:active {
  background-position: 0 -240px;
  padding-top: 45px;
  padding-left: 45px;
}

input[type=submit].favorite-button {
  display: block;
}

input[type=submit].unfavorite-button {
  display: none;
}

.favorited input[type=submit].favorite-button {
  display: none;
}

.favorited input[type=submit].unfavorite-button {
  display: block;
}

.itinerary-group {
  display: block;
}
.favorites-group .itinerary-search-result {
  border: 5px solid #85F776;
  transition: all .5s ease-in-out;
}
.favorites-group .itinerary-search-result:hover {
  background: #85BB83;
  border: 5px solid #85BB83;
  transition: all .5s ease-in-out;
}

/*.itinerary-mini-blob {
  display: block;
  float: left;
  width: 80%;
  padding: 10px 10%;
  text-align: center;
  border: 5px solid orange;
}*/

.itinerary-description-blob {
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: yellow;
}
.time-blob {
  display: block;

  font-size: .7em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: lightgray;
}


.activity-checkbox {
  display: block;
  float: left;
  border: 5px solid #3B83CF;
  margin: 2px;
}

.activity-title, .activity-title a {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #D4FF00;

}
.activity-group {
  clear: both;
  display: block;
}
.activity-blob {
  display: block;
  float: left;
  margin: 10px;
  padding: 5px;
  width: 150px;
  height: 150px;
  border: 5px solid #05275A;
  transition: all .5s ease-in-out;
  color: #B3B4AD;
}
.itinerary-search-result {
  clear: right;
  border: 5px solid #77F7ED;
  padding: 20px;
  margin: 20px 10px;
  transition: all .5s ease-in-out;
}
.itinerary-search-result:hover {
  background: #65ACA6;
  border: 5px solid #65ACA6;
  transition: all .5s ease-in-out;
}
.mini-activity-blob {
  display: block;
  float: left;
  height: 70px;
  border: 5px solid purple;
}

input[type=submit].friend-button {
  display: block;
}
input[type=submit].unfriend-button {
  display: none;
}
.friended input[type=submit].friend-button {
  display: none;
}
.friended input[type=submit].unfriend-button {
  display: block;
}
button, input[type=submit].big-button {
  display: block;
  float: left;
  border-radius: 0;
  height: 200px;
  width: 200px;
  padding-bottom: 30px;
  padding-right: 30px;
  overflow: hidden;
  background: url("square-button-sprite.png") no-repeat 0 0;
}
button:hover, input[type=submit].big-button:hover {
  background-position: 0 -200px;
  padding-top: 28px;
  padding-left: 28px;
}
button:active, input[type=submit].big-button:active {
  background-position: 0 -400px;
  padding-top: 40px;
  padding-left: 40px;
}

.buttons_group {
  padding: 30px 0;
}

.activity-blob:hover {
  background: #222419;
  border: 5px solid #222419;
  transition: all .5s ease-in-out;
}

.back_button {
  clear: both;
  margin-bottom: 20px;
}

.go-button {
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
}
.new-activity-form {
  display: block;
  float: left;
}
.new-itinerary-form {
  display: block;
  float: left;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: block;
  padding: 10px 5px;
}
input[type="checkbox"]:checked + label {
  background: #3B83CF;
  color: yellow;
}
input[type="checkbox"] + label:hover {
  background: #3B83CF;
}
.search-button {
  float: right;
}
.friend-form {
  display: block;
  float: left;
}
.header-text {
  display: block;
  clear: both;
}

input[type=submit].logout-button, input[type=submit].sign-in-button {
  background: url('logout-button-sprite.png') no-repeat 0 0;
  border-radius: 0;
  height: 120px;
  width: 120px;
  padding-bottom: 30px;
  padding-right: 30px;
  overflow: hidden;
  white-space: pre-wrap;
}
input[type=submit].logout-button:hover, input[type=submit].sign-in-button:hover {
  background-position: 0 -120px;
  padding-top: 20px;
  padding-left: 22px;
}
input[type=submit].logout-button:active, input[type=submit].sign-in-button:active {
  background-position: 0 -240px;
  padding-top: 25px;
  padding-left: 25px;
}