/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, ul, li, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: sans-serif;
}
input[type=submit], button {
  marigin: 0;
  padding: 10px;
  border-radius: 20px;
  border: none;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.logout-button {
  float: right;
}
.container {  
  width: 90%;
  margin: auto;
}

.favorite-button {
  display: block;
}

.unfavorite-button {
  display: none;
}

.itinerary-group {
  display: block;
  border: 5px solid green;  
}

.itinerary-mini-blob {
  display: block;
  float: left;
  width: 80%;
  padding: 10px 10%;
  text-align: center;
  border: 5px solid orange;
}

.itinerary-description-blob, .time-blob {
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.favorited .favorite-button {
  display: none;
}

.favorited .unfavorite-button {
  display: block;
}

.activity-checkbox {
  display: block;
  float: left;
  border: 5px solid pink;
  padding: 10px;
}

.activity-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.activity-blob {
  display: block;
  float: left;
  margin: 10px;
  padding: 5px;
  width: 200px;
  height: 200px;
  border: 5px solid blue;
}
.itinerary-search-result {
  border: 5px solid blue;
  padding: 20px;
}
.mini-activity-blob {
  display: block;
  float: left;
  height: 70px;
  border: 5px solid purple;
}

.friend-button {
  display: block;
}
.unfriend-button {
  display: none;
}
.friended .friend-button {
  display: none;
}
.friended .unfriend-button {
  display: block;
}
button {
  display: block;
  float: left;
  border-radius: 0;
  height: 200px;
  width: 200px;
  padding-bottom: 30px;
  padding-right: 30px;
  overflow: hidden;
  background: url("square-button-sprite.png") no-repeat 0 0;
}
button:hover {
  background-position: 0 -200px;
  padding-top: 28px;
  padding-left: 28px;
}
button:active {
  background-position: 0 -400px;
  padding-top: 40px;
  padding-left: 40px;
}

input[type=submit] {
  display: block;
  float: left;
  border-radius: 0;
  height: 120px;
  width: 120px;
  padding-bottom: 35px;
  padding-right: 35px;
  overflow: hidden;
  background: url("small-button-sprite.png") no-repeat 0 0;
}
input[type=submit]:hover {
  background-position: 0 -120px;
  padding-top: 30px;
  padding-left: 32px;
}
input[type=submit]:active {
  background-position: 0 -240px;
  padding-top: 45px;
  padding-left: 45px;
}