<p>Hey <%= @resource.email %>!</p>

<p>If you want to reset your password, please click the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>

<p>Sincerely,</p>

<p>the Wanderful crew</p>