<h2>RESTless search page</h2>
<% unless @search_results.nil? %>
<ul>
<% @search_results.each do |result| %>
<li>
<%= link_to result.description, activity_url(result.id) %>
  <ul>
    <li><%= result.venue %></li>
    <li><%= result.neighborhood %></li>
  </ul>
</li>
<% end %>

</ul>


<% else %>
<p>no results found :(</p>
<% end %>