<h2>activities search results</h2>
<% if @search_results.nil? || @search_results.empty? %>
  <p>no results found :(</p>

  <h3>how bout taking a look at some of these activities?</h3>
  
  <%= render @backup_results %>

<% else %>

<ul class="activities-search-result group">
<%= render @search_results %>
</ul>
<% end %>