<h2>activities search results</h2>
<% if @search_results.nil? || @search_results.empty? %>
  <p>no results found :(</p>

<% else %>
<ul class="activity-group">
<% @search_results.each do |result| %>
<li class="activity-blob">
<%= link_to result.description, activity_url(result.id), class: "activity-title" %>
  <ul>
    <li>@<%= result.venue %></li>
    <li>[<%= result.neighborhood %>]</li>
    <li>#<%= result.tags.map{|tag| tag.name}.join(" #") %></li>
  </ul>
</li>
<% end %>

</ul>


<% end %>