<!-- <h3>activity show page</h3> -->

<ul>
  <li class="activity-title">
    <%= @activity.description %>
  </li>
  <br><br>
  <li>
    <!-- venue: -->
    @<%= @activity.venue %>
  </li>
  <br><br>
  <li>
    <!-- location: -->
    [<%= @activity.address %>]
  </li>
  <br><br>
  <li>
    <!-- tags:  -->
    #<%= @activity.tags.map{|tag| tag.name}.join(" #") %>
  </li>

</ul>
