<h3>activity show page</h3>

<ul>
  <li>
    description
    <%= @activity.description %>
  </li>

  <li>
    venue
    <%= @activity.venue %>
  </li>

  <li>
    neighborhood
    <%= @activity.neighborhood %>
  </li>

  <li>
    tags
    <ul>
      <% @activity.tags.each do |tag| %>
        <li><%= tag.name %></li>
      <% end %>
    </ul>
  </li>

</ul>
