<h3>activity show page</h3>

<ul>
  <li class="activity-title">
    <%= @activity.description %>
  </li>
  <br><br>
  <li>
    
    @<%= @activity.venue %>
  </li>
  <br><br>
  <li>

    [<%= @activity.address %>]
  </li>
  <br><br>
  <li>
    tags:
    <ul>
      <% @activity.tags.each do |tag| %>
        <li>#<%= tag.name %></li>
      <% end %>
    </ul>
  </li>

</ul>
