<h3>activity show page</h3>

<ul>
  <li>
    description
    <%= @activity.description %>
  </li>

  <li>
    venue
    <%= @activity.venue %>
  </li>

  <li>
    neighborhood
    <%= @activity.neighborhood %>
  </li>

</ul>